<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Demos</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="Content/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        body {
            background-image: url('http://cs-server.usc.edu:45678/hw/hw8/images/background.png');
        }
    </style>
</head>
<body data-ng-controller="samplesController as ctrl">
<div>
    <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12">
        <div style="color: black; margin-top: 10px;"
             class="well col-md-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <p class="col-md-offset-5 col-xs-10 col-sm-10 col-md-10 col-lg-3" style="margin-bottom: 10px; font-size: large;">Stock Market Search</p>
            <form class="form-group col-md-offset-0 col-xs-10 col-sm-10 col-md-10 col-lg-12">

                <label class='form-group col-md-offset-0 col-xs-3 col-sm-3 col-md-3 col-lg-3'
                       required="true">Enter Stock Ticker Symbol:<span style="color:#FF0000">*</span></label>
                <!--&lt;!&ndash;<input type="text" class="form-group col-md-offset-0 col-xs-3 col-sm-3 col-md-3 col-lg-6" id="InputSymbol" placeholder="e.g. AAPL" style=" height: inherit;margin-right: 4%;">&ndash;&gt;-->
                <md-content class="md-padding form-group col-md-offset-0 col-xs-3 col-sm-3 col-md-3 col-lg-6">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete
                                style="height: inherit;margin-right: 4%;"
                                md-floating-label= "Ticker Symbol"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.display"
                                md-min-length="0"
                                placeholder="What is your favorite US state?">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <br/>
                    </form>
                </md-content>

                <button type='submit' class='btn-primary form-group btn'><span class='glyphicon glyphicon-search' aria-hidden='true'></span> Get Quote </button>
                <button type='button' class='form-group btn btn-default' ng-click='myFunc()'><span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Clear </button>
            </form>
        </div>
        <hr class="col-md-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10"/>
        <div animated-view style="display: block;"
             class="well col-md-offset-1 col-xs-10 col-sm-10 col-md-11 col-lg-10"></div>
        </div>
    </div>
<h2>
    <img src="Content/images/angularShield.png"/>ngularJS Demos</h2>
<div class="row">
    <div class="span4 section">
        <h5>Demos:</h5>
        <ol>
            <li data-ng-repeat="page in pages">
                <a href="{{href}}" data-ng-click="loadPage(page)">{{ page.title }}</a>
            </li>
        </ol>
    </div>
    <div class="span8">
        <ng-include src="template"></ng-include>
        <!-- <div id="sampleContent"></div> -->
        <br/>
        <div class="container">
            <h4>Code:</h4>
            <textarea></textarea>
        </div>
    </div>
</div>

<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/angular.js"></script>
<script src="Scripts/bootstrap.min.js"></script>

<script>
    (function() {
        'use strict';
        angular
            .module('samples')
            .controller('DemoCtrl', DemoCtrl);

        function DemoCtrl($http) {
            var self = this;

            self.data = null;
            self.selectedItem = null;
            self.searchText = null;

            self.querySearch = function (query) {
                $http.get('http://www.omdbapi.com/?s=' + escape(query))
                    .then(function(result) {
                        self.data = result.data.Search;
                        return result.data.Search;
                    });
            }
        }
    })();


</script>

<script>

    var urlBase = '/DemoPartials/';
    var samplesModule = angular.module('samples', []);

    samplesModule.config(function ($controllerProvider, $provide) {
        //Used to handle loading controllers dynamically
        samplesModule.controller = $controllerProvider.register;
        samplesModule.factory = $provide.factory;
    });

    samplesModule.controller('samplesController', function ($scope, $templateCache, $http, $location) {
        $scope.template = '';
        $scope.html = '';
        $scope.pages = [
            {title: 'Data binding basics', url: urlBase + '1_Data_binding_basics.html'},
            {title: 'Looping with ng-repeat', url: urlBase + '2_Looping_with_ng-repeat.html'},
            {title: 'Adding a Simple Controller', url: urlBase + '3_Adding_a_Simple_Controller.html'},
            {
                title: 'Using ng-model and ng-click Directives',
                url: urlBase + '4_Using_ng-model_and_ng-click_Directives.html'
            },
            {title: 'Filtering and Sorting Data', url: urlBase + '5_Filtering_and_Sorting_Data.html'},
            {title: 'Adding a Module and Controller', url: urlBase + '6_Adding_a_Module_and_Controller.html'},
            //{ title: 'Adding Module Configuration and Routing', url: urlBase + '7_Adding_Module_Configuration_and_Routing.html' },
            {title: 'Module, Controller and Factory', url: urlBase + '8_Module-Controller-Factory.html'},
            {title: 'Customer Management App', url: 'CustomerManagementApp.html', href: 'CustomerManagementApp.html'},
        ];

        $scope.loadPage = function (page) {
            if (page.href) {
                document.location = page.href; //Load new page
            }
            $scope.template = page.url;
            $http({method: 'GET', url: page.url, cache: $templateCache})
                .success(function (html) {
                    $scope.html = html;
                    $('textarea').text(html); //Had to go with this due to IE
                })
                .error(function (html, status) {
                    $scope.html = 'Unable to load code: ' + status;
                });
        }

        var self = this;

        self.data = null;
        self.selectedItem = null;
        self.searchText = null;

        self.querySearch = function (query) {
            $http.get('http://dev.markitondemand.com/MODApis/Api/v2/Lookup/json?input=' + escape(query))
                .then(function(result) {
                    self.data = result.data.Search;
                    return result.data.Search;
                });
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
