
body
{
    background: url("background.png");
}

label {
    font-weight: normal !important;
}
.panel-heading {
    background-color: #BBBBBB;
    width: 100%;
}

.icon-success {
    color: #FFCC00;
}

html, body{
    height: 2000px;
}

#id_for_tabs > li
{
    padding:8px;
}



.animate-hide-table{
    -webkit-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    -o-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    left: 0;
}

.animate-hide-table.ng-hide {
    position: relative;
    left: 100%;
    padding:5px;
}


.animate-hide-detail{
    -webkit-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    -o-transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    transition:all cubic-bezier(0.250, 0.250, 0.750, 0.750) 2s;
    left: 0;
}

.animate-hide-detail.ng-hide {
    position: relative;
    left: -100%;
    padding:5px;
}