<!DOCTYPE html>
<html lang="en" ng-app="stockApp">
<html lang="en">
<head>

    <title>Homework 8</title>

    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css "
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--for toggle button-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!--<script>$scope.show_fav = true;</script>-->
</head>
<body>
<div ng-controller="myCtrl" class="container-fluid col-xs-10 col-sm-10 col-md-12 col-lg-12">
    <!--top block-->
    <div style="color: black; margin-top: 10px;"
         class="well form-group col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <p class="col-md-offset-5 col-xs-10 col-sm-10 col-md-10 col-lg-3"
           style="margin-bottom: 10px; font-size: large;">Stock Market Search</p>
        <form class="form-inline col-md-offset-0 col-xs-12 col-sm-12 col-md-10 col-lg-12">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-left col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <label>Enter Stock Ticker Symbol:<span style="color:#FF0000">*</span></label>
                </div>
                <div class="pull-left col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <!--<md-autocomplete flex-->
                                     <!--md-selected-item="myCtrl.selectedItem"-->
                                     <!--md-search-text="myCtrl.searchText"-->
                                     <!--md-items="item in myCtrl.querySearch(myCtrl.searchText)"-->
                                     <!--md-item-text="item.Symbol"-->
                                     <!--md-delay="300"-->
                                     <!--md-floating-label="Search Github Users">-->
                        <!--<div layout="row" class="item" layout-align="start center">-->
                            <!--<span md-highlight-text="myCtrl.searchText">{{item.Symbol}}</span>-->
                        <!--</div>-->
                    <!--</md-autocomplete>-->

                    <input type="text" id="inputSymbol" class="pull-left col-xs-12 col-sm-12 col-md-12 col-lg-12"
                           ng-model="symbol_typed" placeholder="e.g. AAPL" style="margin-right: 4%;" data-toggle="tooltip"
                           data-placement="bottom" title="Please type a ticker symbol."><br/>

                    <label for="inputSymbol">Please enter a stock ticker symbol.</label>
                </div>
                <button id="submit" type="submit" class="btn-primary btn" ng-click='submit()' ng-disabled="symbol_typed===''"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span> Get Quote
                </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"
                                                                    aria-hidden="true"></span> Clear
                </button>
            </div>
        </form>
    </div>
    <!--horizontal line-->
    <hr class="col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10"/>
    <!--bottom dynamic block-->
    <div class="well col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div style="color: black; margin-top: 10px;"
             class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="show_fav" ng-hide="show_details">
            <div class="panel-heading" id="fav-panel-heading" style="background-color: #BBBBBB;">
                <div class="pull-left col-xs-12 col-sm-12 col-md-2 col-lg-2"><strong>Favourite List</strong></div>
                <div class="text-right">
                    <label class="checkbox-inline">Automatic Refresh: </label>
                    <input style="margin-right: 5px;"
                           data-toggle="toggle" type="checkbox">
                    <button type="button" class="btn btn-default">
                    <span
                            class="glyphicon glyphicon-refresh"
                            style="border: thick"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="flip_to_details()" ng-disabled="disable_show_details_button">
                    <span
                            class="glyphicon glyphicon-chevron-right"
                            aria-hidden="true"
                    ></span>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div style="display: inline;">
                    <label class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="margin-right: 5px; font-size: small;"
                           for="sel1"><strong>Sort By</strong></label>
                    <select class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-right: 5px;" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <label class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="margin-right: 5px; font-size: small;"
                           for="sel2"><strong>Order</strong></label>
                    <select class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-right: 5px;" id="sel2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Stock Price</th>
                        <th>Change (Change Percent)</th>
                        <th>Volume</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="color: black; margin-top: 10px;"
             class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="show_details" ng-hide="show_fav">
            <div class="panel-heading" id="details-panel-heading" style="background-color: #BBBBBB;">
                <div class="text-left col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <button type="button" class="btn btn-default" ng-click="flip_to_fav()">
                    <span
                            class="glyphicon glyphicon-chevron-left"
                            aria-hidden="true"
                    ></span>
                </button></div>

            </div>
            <div class="panel-body">
                <!--<div style="display: inline;">-->
                    <!--<label class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="margin-right: 5px; font-size: small;"-->
                           <!--for="sel1"><strong>Sort By</strong></label>-->
                    <!--<select class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-right: 5px;" id="sel1">-->
                        <!--<option>1</option>-->
                        <!--<option>2</option>-->
                        <!--<option>3</option>-->
                        <!--<option>4</option>-->
                    <!--</select>-->
                    <!--<label class="col-xs-12 col-sm-12 col-md-1 col-lg-1" style="margin-right: 5px; font-size: small;"-->
                           <!--for="sel2"><strong>Order</strong></label>-->
                    <!--<select class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-right: 5px;" id="sel2">-->
                        <!--<option>1</option>-->
                        <!--<option>2</option>-->
                        <!--<option>3</option>-->
                        <!--<option>4</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<table class="table table-hover">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Symbol</th>-->
                        <!--<th>Stock Price</th>-->
                        <!--<th>Change (Change Percent)</th>-->
                        <!--<th>Volume</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!--for toggle button-->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="app.js"></script>
</body>
</html>
