#bloc1, #bloc2, #bloc3
{
    display: inline-block;
}
#bloc1
{
    width: 250px;
}
#twosq1, #twosq2
{
    display: inline-block;
}
#twosq3, #twosq4
{
    display: inline-block;
}
.twosq
{
    width: 165px;
}