#bloc1, #bloc2, #bloc3
{
    display: inline-block;
    vertical-align: middle;
}


.twosq
{
    width: 300px;
    display: inline-block;
}

.intwosq
{
    display: inline-block;

    vertical-align: top;
}

.checkmark
{
    height:35px;
    width: auto;
}


.compcheckmark
{
    width:176px;
    height:64px;
}
.button {

    background-color: #C41139;
    color: white;
    border-radius: 4px;
    padding: 4px 16px;
    text-align: center;
    text-shadow: 0 1px black;
    font-size: medium;
    cursor: pointer;
    border: outset #904;
    box-shadow: 0 0 2px 1px #DC7189 inset;
}
.button:hover
{
    color: rgba(255,255,255,0.9);
    background-color: #9D0030;
    border-color: #9D0040;
    box-shadow: inset 1px 1px 1px #9D0040;
}

div
{
    display: inline-block;
    margin:0px;
}
p
{
    margin:3px;
}
.p_in_bloc2
{
    vertical-align: text-top;
    font-size: 14px;
    color: #2296DC;
}
a, u {
    text-decoration: none;
}

.page2div
{
    height: 120px;
}

#sub_heading
{
    font-size: 21px;

}
#textcontenttop
{
    margin-bottom: 30px;
}
#textcontentbottom
{
    margin-bottom: 54px;

}

#textcontentbottom, #textcontenttop
{
    font-size: 16px;
    line-height: 20px;
    color: #585650;
}