<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{title}}!-->
  <!--</h1>-->
  <!--<img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

<div class="col-xs-10 col-sm-10 col-md-12 col-lg-12">
  <div style="color: black; margin-top: 10px;" class="well col-md-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <p class="col-md-offset-5 col-xs-10 col-sm-10 col-md-10 col-lg-3" style="margin-bottom: 10px; font-size: large;">Stock Market Search</p>

    <form class="form-group col-md-offset-0 col-xs-10 col-sm-10 col-md-10 col-lg-12">
      <label for="InputSymbol" class = 'form-group col-md-offset-0 col-xs-3 col-sm-3 col-md-3 col-lg-3' required="true">Enter Stock Ticker Symbol:<span style="color:#FF0000">*</span></label>
      <input type="text" class="form-group col-md-offset-0 col-xs-3 col-sm-3 col-md-3 col-lg-6" id="InputSymbol" placeholder="e.g. AAPL" style="margin-right: 4%;">
      <button type="submit" class="btn-primary form-group btn col-lg-offset-0.5"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Get Quote</button>
      <button type="button" class="form-group btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear</button>
    </form>
  </div>
  <hr class="col-md-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10"/>
  <div style = "display: block;" class="well col-md-offset-1 col-xs-10 col-sm-10 col-md-11 col-lg-10"></div>
</div>
